.container
    .jumbotron
        h1 Mean Stack
        p Welcome to the mean stack demo

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")